@import "_variables.scss";

@mixin centerElements {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin input {
  outline: none;
  font-size: 1rem;
  border: 1px solid $neutral-grayish-blue;
  border-radius: 0.3rem;
  padding: 0 1.5rem;
  transition: 0.2s ease-in-out;
  background-color: transparent;

  &:hover {
    cursor: text;
  }

  &:focus {
    border-color: $neutral-dark-blue;
  }
}

@mixin button {
  width: 100%;
  text-transform: uppercase;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  color: $white;
  box-shadow: $primary-shadow;
  background-color: $primary-green;
  transition: 0.25s ease-in-out;
  
  &:active {
    box-shadow: $secondary-shadow;
  }

  &:hover {
    opacity: 0.9;
  }
}

@mixin modal {
  color: $neutral-dark-blue;
  background-color: $white;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: $primary-shadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -62%);
  visibility: hidden;
  opacity: 0;
  z-index: -10;
}

@mixin showModal {
  visibility: visible;
  opacity: 1;
  z-index: 10;
  transition: 0.2s linear;
  transition-delay: 0.1s;
  transform: translate(-50%, -50%);
}
