@use "../utils/_mixins" as shared;

.dashboard {
  display: flex;
  height: calc(100% - 64px - 24px);

  main {
    &.account {
      @include shared.centerElements;
      width: 100%;
      height: 100%;
      transition: 0.3s linear;

      &.active-nav {
        width: calc(100% - 250px);
      }

      section {
        width: 55%;
        min-width: 840px;
        height: 95%;
        padding: 0.5rem 1rem 1rem 1rem;
        border-radius: 0.5rem;
        background-color: $white;
        box-shadow: $primary-shadow;

        form {
          &:nth-child(1) {
            width: 100%;
            height: 80%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            h1 {
              text-transform: capitalize;
              color: $neutral-dark-blue;
              margin-bottom: 0.5rem;
              margin-left: 2.5%;
            }

            div {
              width: 95%;
              height: 80px;
              margin: 0 auto;
              display: grid;
              grid-template-columns: repeat(12, 1fr);
              grid-template-rows: 45px 35px;
              position: relative;

              input {
                @include shared.input;
                height: 45px;

                &:nth-child(1) {
                  grid-column: 1/6;
                  grid-row: 1/2;
                  
                  &:hover {
                    cursor: default;
                  }
                }

                &:nth-child(2) {
                  grid-column: 8/13;
                  grid-row: 1/2;
                }

                &:focus {
                  border-color: $neutral-dark-blue;
                }
              }

              p {
                font-size: 0.8rem;
                text-align: center;
                color: $primary-red;
                grid-column: 8/13;
                grid-row: 2/3;
                visibility: hidden;

                &.active {
                  visibility: visible;
                }
              }

              img {
                width: 20px;
                position: absolute;
                top: 12px;
                right: 1rem;
                visibility: hidden;

                &.active {
                  visibility: visible;
                }
              }
            }

            button {
              @include shared.button;
              width: 30%;
              height: 45px;
              margin: 0 2.5% 0 auto;

              .loading span {
                top: 15px;
              }
            }
          }

          &:nth-child(2) {
            width: 100%;
            height: 20%;
            margin: 0 auto;
            padding-left: 2.5%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2 {
              color: $primary-red;
            }

            p {
              font-size: 0.9rem;
              color: $neutral-dark-blue;
              opacity: 0.4;
              margin: 0 0 auto 0;
            }

            button {
              @include shared.button;
              width: 30%;
              height: 45px;
              background-color: $primary-red;

              .loading span {
                top: 15px;
              }
            }
          }
        }
      }
    }
  }
}
