@use "../utils/_mixins" as shared;

.dashboard {
  display: flex;
  height: calc(100% - 64px - 24px);

  main {
    &.account {
      @include shared.centerElements;
      width: 100%;
      height: 100%;
      transition: 0.3s linear;

      &.active-nav {
        width: calc(100% - 250px);
      }

      section {
        width: 55%;
        min-width: 840px;
        height: 95%;
        padding: 0.5rem 1rem 1rem 1rem;
        border-radius: 0.5rem;
        background-color: $white;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
          rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
          rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

        form {
          &:nth-child(1) {
            width: 100%;
            height: 80%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            h1 {
              text-transform: capitalize;
              color: $neutral-dark-blue;
              margin-bottom: 0.5rem;
              margin-left: 2.5%;
            }

            div {
              width: 95%;
              height: 80px;
              margin: 0 auto;
              display: grid;
              grid-template-columns: repeat(12, 1fr);
              grid-template-rows: 45px 35px;
              position: relative;

              input {
                height: 45px;
                outline: none;
                font-size: 1rem;
                border: 1px solid $neutral-grayish-blue;
                border-radius: 0.3rem;
                padding: 0 1.5rem;
                transition: 0.2s ease-in-out;
                background-color: transparent;

                &:nth-child(1) {
                  grid-column: 1/6;
                  grid-row: 1/2;
                }

                &:nth-child(2) {
                  grid-column: 8/13;
                  grid-row: 1/2;
                }

                &:focus {
                  border-color: $neutral-dark-blue;
                }
              }

              p {
                font-size: 0.8rem;
                text-align: center;
                color: $primary-red;
                grid-column: 8/13;
                grid-row: 2/3;
                visibility: hidden;

                &.active {
                  visibility: visible;
                }
              }

              img {
                width: 20px;
                position: absolute;
                top: 12px;
                right: 1rem;
                visibility: hidden;

                &.active {
                  visibility: visible;
                }
              }
            }
            button {
              width: 30%;
              height: 45px;
              margin: 0 2.5% 0 auto;
              text-transform: uppercase;
              color: $white;
              background-color: $primary-green;
              border-radius: 0.3rem;
              border: none;
              cursor: pointer;
              box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
                rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
                rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

              &:active {
                box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
                  rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
                  rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
              }

              .loading span {
                top: 15px;
              }
            }
          }

          &:nth-child(2) {
            width: 100%;
            height: 20%;
            margin: 0 auto;
            padding-left: 2.5%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2 {
              color: $primary-red;
            }
            p {
              font-size: 0.9rem;
              color: $neutral-dark-blue;
              opacity: 0.4;
              margin: 0 0 auto 0;
            }

            button {
              width: 30%;
              height: 45px;
              text-transform: uppercase;
              color: $white;
              background-color: $primary-red;
              border-radius: 0.3rem;
              border: none;
              cursor: pointer;
              box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
                rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
                rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

              &:active {
                box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
                  rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
                  rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
              }

              .loading span {
                top: 15px;
              }
            }
          }
        }
      }
    }
  }
  nav {
    width: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    transition: 0.3s linear;
    padding: 2rem 0 0 0;

    ul {
      li {
        a {
          visibility: hidden;
          opacity: 0;
        }
      }
    }

    * {
      font-size: 0;
    }

    &.active {
      width: 250px;

      * {
        font-size: initial;
      }

      ul {
        width: 100%;
        list-style-type: none;

        li {
          @include shared.centerElements;
          width: 100%;
          margin-bottom: 0.5rem;

          a {
            font-size: 1.2rem;
            text-transform: uppercase;
            color: $neutral-dark-blue;
            cursor: pointer;
            transition: color 0.3s ease-in-out, visibility 0.6s ease-in-out,
              opacity 0.6s ease-in-out;
            visibility: visible;
            opacity: 1;

            &.active {
              color: $white;
              font-weight: bold;
            }

            &:hover {
              color: $white;
            }
          }
        }
      }
    }
  }
}
