@use "../utils/_mixins" as shared;

main {
  &.sign-in {
    width: 85%;
    height: calc(100% - 64px - 24px);
    margin: 0 auto;
    display: flex;

    h2 {
      text-align: center;
      color: $neutral-dark-blue;
    }

    .cta {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 0 0 5rem;

      h1 {
        line-height: 1.2;
        margin-bottom: 1rem;
        color: $white;
      }

      p {
        color: $white;

        &:first-of-type {
          margin-bottom: 1rem;
        }
      }
    }

    .form-data {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      form {
        width: 75%;
        height: 60%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;
        background-color: $white;
        border-radius: 0.5rem;
        box-shadow: $primary-shadow;

        div {
          width: 100%;
          min-height: 65px;
          position: relative;

          input {
            @include shared.input;
            width: 100%;
            height: 45px;
          }

          p {
            font-size: 0.8rem;
            color: $primary-red;
          }

          img {
            width: 20px;
            position: absolute;
            top: 12px;
            right: 1rem;
          }
        }

        button {
          @include shared.button;
          height: 45px;

          .loading span {
            top: 15px;
          }
        }

        p {
          text-align: center;
          font-size: 0.7rem;
          color: $neutral-dark-blue;

          a {
            font-weight: bold;
            color: $primary-red;
          }
        }
      }
    }
  }
}
