@use "../utils/_mixins" as shared;

.dashboard {
  display: flex;
  height: calc(100% - 64px - 24px);

  main {
    &.home-page {
      width: 100%;
      height: 100%;
      transition: 0.3s linear;
      padding-top: 1rem;

      &.active-nav {
        width: calc(100% - 250px);
      }

      article.trial {
        @include shared.centerElements;
        width: calc(100% - 4rem);
        height: 50px;
        margin: 0 auto 1rem auto;
        background-color: rgba(255, 255, 255, 0.4);

        p {
          font-size: 1.2rem;
          color: $neutral-dark-blue;

          span {
            color: $accent-blue;
            font-weight: bold;
          }

          a {
            color: $accent-blue;
            text-decoration: underline;
          }
        }

        form {
          width: 30px;
          height: 30px;
          margin-left: 2rem;

          button {
            width: 100%;
            height: 100%;
            border: none;
            background-color: transparent;

            img {
              width: 100%;
              height: 100%;
              cursor: pointer;
              transition: 0.3s linear;

              &:active {
                transform: scale(0.9);
              }
            }
          }
        }
      }

      .cta {
        @include shared.centerElements;
        flex-direction: column;
        width: 100%;
        height: 400px;
        transition: 0.3s linear;

        h1,
        p {
          text-align: center;
          color: $white;
        }

        p {
          font-size: 1.2rem;
          margin-top: 1rem;

          a {
            color: $accent-blue;
            text-decoration: underline;
          }
        }
      }

      section {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 3rem 1rem 3rem;
        overflow-y: scroll;
        display: grid;
        gap: 2rem;
        justify-content: space-between;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

        .tutorial {
          height: 400px;
          background-color: $white;
          border-radius: 0.5rem;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          box-shadow: $primary-shadow;

          picture {
            width: 100%;
            max-height: 180px;

            img {
              width: 100%;
              height: 100%;
              display: block;
              object-fit: cover;
              border-bottom: 1px solid $neutral-grayish-blue;
            }
          }

          &-details__content {
            padding: 1rem 0;

            h4 {
              margin-bottom: 0.5rem;
              color: $accent-blue;
            }

            p {
              font-size: 0.8rem;
              color: $neutral-grayish-blue;
            }

            &__info {
              width: 100%;
              margin-top: 0.5rem;
              display: flex;

              p {
                color: black;
                display: flex;
                align-items: center;

                img {
                  width: 20px;
                  margin-right: 0.3rem;
                }

                &:first-child {
                  margin-right: 1rem;
                }
              }
            }
          }

          form {
            width: 100%;
            min-height: 45px;
            margin: auto 0 0 0;

            button {
              @include shared.button;
              height: 100%;
              margin: auto 0 0 0;

              &.active {
                pointer-events: none;
                box-shadow: none;
                background-color: #342a7a;
              }

              .loading span {
                top: 15px;
              }
            }
          }

          a {
            @include shared.button;
            background-color: $accent-blue;
            height: 45px;
            margin: auto 0 0 0;
            display: grid;
            place-content: center;

            .loading span {
              top: 15px;
            }
          }
        }
      }
    }
  }
}
